.portfolioItem {
  background-color: white;
}

.siteInformation {
  min-height: 100px;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 40px;
}

.siteTitle {
  color: #039be5;
  font-size: 35px;
}

.siteDescription {
  font-size: 20px;
  margin-right: 30px;
  min-width: 800px;
}

.siteClientImage {
  width: 210px;
  margin-left: 40px;
  margin-right: 30px;
}

.siteSkills {
  flex: 1;
  font-size: 22px;
  margin-top: 10px;
  display: inline-flex;
}

.siteSkills:hover {
  cursor: pointer;
  color: #039be5;
}

.sectionTitle {
  font-size: 20px;
  font-weight:bold;
}
