.imageSliderContainerContainer {
    margin-bottom: 30px;
}

.imageSliderContainer {
    position: relative;
    cursor: zoom-in;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: opacity 4s ease-in-out;
    -moz-transition: opacity 4s ease-in-out;
    -o-transition: opacity 4s ease-in-out;
    transition: opacity 4s ease-in-out;
}

.slideImage {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.imageDescription {
    padding: 10px;
    text-align: center;
    color: grey;
    font-style: italic;
}

.arrowBox {
    bottom: 10px;
}

.leftArrowBox {
    position: relative;
    float:left;
    z-index: 2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 70px;
    cursor: pointer;
    
    .leftArrow {
        top: 48%;
        color: rgb(164, 164, 164);
        left: 18px;
        position: relative;
        float: left;
    }
}    
.leftArrowBox:hover {
    .leftArrow {
        color: gold;
    }
}

.rightArrowBox {
    position: relative;
    float:right;
    z-index: 2;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70px;
    cursor: pointer;
    .rightArrow {
        top: 48%;
        color: rgb(164, 164, 164);
        right: 18px;
        position: relative;
        float: right;
    }
}

.rightArrowBox:hover {
    .rightArrow {
        color: gold;   
    }
}

.dots {
    position: relative;
    padding: 10px;
    top: 90%;
    left: 35%;
    z-index: 4;
    color: rgb(164, 164, 164);
    cursor: pointer;
}

.dotsSelected {
    position: relative;
    padding: 10px;
    top: 90%;
    left: 35%;
    z-index: 4;
    cursor: pointer;
}

.nums {
    z-index: 5;    
}

.imageSliderContainer img.hidden {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
}