.site-content {
  height: 80px;
}

.container {
  display: flex;
  margin-top: 40px;
  min-width: 850px;
  flex-wrap: wrap;
}
.site-content {
  margin: 10px;
  .site-title {
    font-size: 26px;
  }

  .site-client {
    width:120px;
    position: relative;
  }
}

.card-image {
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.site-cover {
  height: 350px;
}

.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}
.site-client {
  width:120px; 
  float:right; 
  position: relative;
}

.portfolio-item {
  width: 700px;
  max-height: 500px;
  padding: 10px;
}

.card:hover{ 
  color: white;
  background-color: rgba(66, 140, 238, 0.7);
}
