.portfolio-card-content {
  height: 80px;
}

Container {
  display: flex;
  margin-top: 40px;
  min-width: 850px;
}

.site-cover {
  max-height: 300px;
  height: 350px;
}

.portfolio-item {
  max-height: 500px;
}
.card:hover{ 
  color: white;
  background-color: rgba(66, 140, 238, 0.7);
}
