.introText {
    margin-top: 170px;
    margin-bottom: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 25px;
}

.subIntroText {
    font-size: 20px;
}

.link {
    cursor: pointer;
    color: #039be5;
    text-decoration: none;
}

.link:hover {
    color: gold
}

.img:hover {
    color: gold;
}

.img {
    cursor: pointer;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    border-radius: 10px;
    width: 300px;
    height: 250px;
}
