.mainHeader {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #039be5;
}

.portfolioSection {
    margin-bottom: 250px;
}

.scrollUp {
    cursor: pointer;
    left: 20px;
    bottom: 20px;
    color: white;
    position: fixed;
}

.closingStatement {
    margin-top: 250px;
    margin-bottom: 200px;
    text-align: center;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.link {
    color: #039be5;
}
.link:hover {
    color: gold
}