
  .blogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    min-width: 850px;
  }
  .blog {
    width: 49%;
    background-color: white;
    border-radius: 10px;
    margin: 6px;
    margin-bottom: 60px;
    position: relative;
    .blogImageCover {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      text-align: center;
      height: 380px;
      overflow: hidden;
      .blogImage {
        width: 100%;
      }
    }
    .blogTitle {
      font-size: 25px;
      padding-left: 20px;
      color: #039be5 !important;
    }
    .blogSummary {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      color: black;
      height: 110px;
    }
    .readMore {
      text-align: center;
      font-size: 25px;
      background-color: rgb(223, 223, 223);
      width: 100%; 
      height: 40px; 
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .blog:hover {
    border: 2px solid rgb(120, 166, 226);
    .blog {
    color: white;
    }
    .readMore {
      background-color: gold !important;
    }
  }

  a {
    text-decoration: none;
  }