
.logo {
  margin-top: 10px;
}

.navItems {
  a {
    color: #039be5;
  }
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  :hover{
    color: gold;
  }
  .navLink {
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
  }
}

.headers {
  text-align: center;
}

.mainHeader {
  font-size: 50px;
  color: #039be5;
  text-decoration: none;
}

.subHeader {
  font-size: 18px;
  border-radius: 10px;
  padding: 2px;
}

.contactNav {
  display: flex;
  margin-top: -10px;
  width: 450px;
  .contactButton {
    background-color: rgb(66, 140, 238);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    color: white;
    margin-top: -4px;
    padding: 5px;
    .icon {
      margin-top: 12px;
      width: 30px;
    }
  }
  .contactButton:hover {
    background-color: gold !important;
  }
}
