
.logo {
  margin-top: 10px;
}

.nav-items {
  a {
    color: #039be5;
  }
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  :hover{
    color: gold;
  }
  .nav-link {
    text-decoration: none;
    padding-right: 10px;
  }
}

.headers {
  text-align: center;
}

.main-header {
  font-size: 50px;
  a {
    color: #039be5;
    text-decoration: none;
  }
  :hover {
    color: rgba(255, 217, 0, 0.8);
  }
}

.sub-header {
  font-size: 18px;
  border-radius: 10px;
  padding: 2px;
}

.contact-nav {
  a {
    background-color: pink;
  }
  display: flex;
  margin-top: -10px;
}

.contact-button {
  .icon {
    margin-top: 8px;
  }
  :hover {
    background-color: gold;
  }
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  width: 60px;
  height: 30px;
  color: white;
  margin-top: -4px;
  padding: 5px;
  background-color: rgb(66, 140, 238);
}
