@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  background-image: url("../src/assets/background.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
}
